.container {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(147,206,222,1);
    background: filter-gradient(#93cede, #49a5bf, vertical);
    background-image: linear-gradient(to bottom, rgba(147,206,222,1) 0%, rgba(117,189,209,1) 41%, rgba(73,165,191,1) 100%);
    position: relative;
}

.login-form {
    padding: 20px;
    border: 2px solid #eee;
    border-radius: 5px;
    background: transparent;
}

.login-input, .password-input {
    margin-bottom: 20px;

    & input {
        padding: 10px;
        border: none;
        border-bottom: 2px solid #eee;
        background: transparent;
        color: #fff;
        font-size: 1.2em;
    }
}

.action-button {
    text-align: right;
}

.submit-button {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    background: #fff;
    color: #0e86c3;
    font-size: 1.2em;
    cursor: pointer;
}

input:focus, button:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: #ddd;
}

::-moz-placeholder {
color: #ddd;
}

:-ms-input-placeholder {
color: #ddd;
}

:-moz-placeholder {
color: #ddd;
}

.notification {
    position: absolute;
    top: -160px;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    color: #fff;
    background-color: #d44950;
    border: 2px solid #a94442;
    border-radius: 5px;
    padding: 10px;
    text-align: center;
    transition: top 0.3s ease-in;
}

.showAlert {
    top: 60px;
    transition: top 0.3s ease-in;
}